@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*Reset do CSS*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  overflow: scroll;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #111937;
  font-size: 16px;
  color: #fff;
  justify-content: center;
  margin: 1% 2%;
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 10px;
  background-color: #111937;
}

#logo {
  width: 10%;
  display: flex;
}

#logo img {
  height: 100%;
  width: 100%;
  display: flex;
}

#about {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  display: flex;
  padding-top: 2%;
}

.type-filter {
  width: 100%;
  height: fit-content;
  background-color: #c62014;
  align-items: center;
}

.pokemon-order {
  display: flex;
  width: 90%;
  height: fit-content;
  background-color: #c62014;
  padding: 1% 5%;
  margin-top: 2%;
  justify-content: space-between;
}

.pokemon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5%;
}

a {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #fff;
}

#container-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid: 230px / auto auto auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 35px;
}

#container-filter {
  display: grid;
  grid: 320px / auto auto auto auto auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 35px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 3px 3px 5px rgb(180, 180, 180);
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgb(180, 180, 180);
  transition: 0.3s;
  width: 230px;
  height: 230px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #000;
  align-items: center;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgb(180, 180, 180);
  transition: 0.3s;
  width: 230px;
  height: 320px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #000;
  align-items: center;
  justify-content: center;
}

.card-title, .card-type, .card-rarity {
  margin: 0;
}

.avatar {
  height: 20%;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 3, 3, 0.2);
}

button {
  border: 1.5px solid #ffffff;
  border-radius: 1.5px;
  background-color: #cfafae;
  color: #010d1d;
  padding: 0 15px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 15px;
  text-align: center;
}

button:hover {
  border: 1.5px solid #D24D57;
  background-color: #1d6298;
  color: #FFF;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #FFF;
  float: left;
  padding: 8px 20px;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #c62014;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}

.center {
  text-align: center;
}
.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  display: flex;
  padding: 10px;
  background-color: #c62014;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer a {
  color: #fff;
}
