@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*Reset do CSS*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  overflow: scroll;
  /*estava overflow: hide, então a a pessoa não conseguia descer no site*/
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #9DBC84;
  font-size: 16px;
  color: #000;
  justify-content: center;
}

.main-header {
  width: 90%;
  /*height: auto;*/
  /* margin-top: 40px; */
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

#logo {
  width: 10%;
}

#logo img {
  height: 100%;
  width: 100%;
}

/* .text {
  font-size: 20px;
  display: block;
} */

.about {
  width: 90%;
  height: auto;
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-bottom: 4px;

}
.filter-container {
  display: flex;
}

.type-filter{
  background-color: #C61F14;
}

.pokemon-comparison {
  background-color: #ffcc03;
}

.container-main {
  background-color: #0d305f;
  width: auto;
  font-size: 14px;
  color: black;
  padding: 30px 40px;
}

.card {
  background-color: #a1c5c4;
  box-shadow: 0 4px 6px 0 rgba(3, 3, 3, 0.2);
  transition: 0.3s;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 3, 3, 0.2);
}

/* img {
  border-radius: 5px 5px 0 0;
  padding: 2px 100px;
} */

button {
  border: 1.5px solid #ffffff;
  border-radius: 1.5px;
  background-color: #cfafae;
  color: #010d1d;
  flex-wrap: wrap;
  padding: 0.3em 3.5em;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.1em;
  text-align: center;
}

button:hover {
  border: 1.5px solid #D24D57;
  background-color: #1d6298;
  color: #FFF;
}
