@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*Reset do CSS*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
}

body {
  overflow: scroll;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #111937;
  font-size: 16px;
  color: #fff;
  justify-content: center;
  margin: 1% 2%;
}

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 10px;
}

#logo {
  width: 10%;
  display: flex;
}

#logo img {
  height: 100%;
  width: 100%;
  display: flex;
}

#about {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  height: 380px;
}

.type-filter {
  width: 28%;
  background-color: #c62014;
  margin: 2% 0%;
}

.pokemon-comparison {
  width: 60%;
  background-color: #ffcc03;
  margin: 2% 0%;
}

#container-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid: 220px / auto auto auto auto;
  grid-gap: 30px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px rgb(180, 180, 180);
  transition: 0.3s;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: #000;
  align-items: center;
  justify-content: center;
}

.card-title, .card-type, .card-rarity {
  margin: 0;
}

.avatar {
  height: 20%;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 3, 3, 0.2);
}

button {
  border: 1.5px solid #ffffff;
  border-radius: 1.5px;
  background-color: #cfafae;
  color: #010d1d;
  flex-wrap: wrap;
  padding: 0.3em 3.5em;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.1em;
  text-align: center;
  position: relative;
}

button:hover {
  border: 1.5px solid #D24D57;
  background-color: #1d6298;
  color: #FFF;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #FFF;
  float: left;
  padding: 8px 20px;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #c62014;
  color: #fff;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  color: black;
  border-radius: 5px;
}

.center {
  text-align: center;
}
.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  display: flex;
  padding: 10px;
  background-color: #c62014;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer a {
  color: #fff;
}
